# Ignore non-dotfiles
/[^.]*
!/README.md

# Ignore standard cache and config locations
/.cache
/.config/*
/.local

# Cookies
/.ICEauthority
/.Xauthority
/.emulator_console_auth_token
/.esd_auth
/.viminfo
/.wget-hsts

# History files
/.bash_history
/.lesshst
/.mysql_history
/.node_repl_history
/.python_history
/.sqlite_history
/.ts_node_repl_history

# Various apps
/.AndroidStudio*
/.android
/.aspnet
/.azure
/.circleci
/.cmake
/.cups
/.dotnet
/.eclipse
/.gnupg
/.gradle
/.gtk-bookmarks
/.hplip
/.java
/.macromedia
/.microsoft
/.mitmproxy
/.mono
/.mozilla
/.npm
/.nuget
/.nvm
/.pki
/.ssh
/.swt
/.templateengine
/.tox
/.travis
/.vim
/.vscode-oss

# Allow tracking of powerline configuration
!/.config/powerline
